<!DOCTYPE html>
<html lang="pt-br"></html>
<html>
<head>
	<title>JFlix</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<% if(message != "") {  %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% }  %>
	<nav>
  <article>
      <img src="/img/cadastro.png" alt="">
      <h1><a href="/">JFlix</a></h1>
  </article>
  
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/criar">Cadastro</a></li>
  </ul>
</nav>
	<form action="/peditar/<%= filme.id %>" method="POST">
		<div class="input-group">
			<label>Ano de Lançamento</label>
			<input type="text" name="ano" value="">
		</div>
    <div class="input-group">
			<label>Nome do Filme/Série:</label>
			<input type="text" name="nome" value="">
		</div>
    <div class="input-group">
			<label>Gênero:</label>
			<input type="text" name="genero" value="">
		</div>
    <div class="input-group">
			<label>URL imagem</label>
			<input type="text" name="imagem" value="">
		</div>
    <div class="input-group">
			<label>Produtora</label>
			<input type="text" name="produtora" value="">
		</div>
		<div class="input-group">
			<label>Sinopse</label>
			<input type="text" name="descricao" value="">
		</div>
		<div class="input-group">
	<button class="btn" type="submit" name="update" style="background: green;" >update</button>
	<button class="btn" type="submit" name="save" >Save</button>
		</div>
	</form>
	<script src="/js/script.js"></script>
</body>
</html>
