<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>JFlix</title>
</head>
<body>
    <% if(message != "") {  %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% }  %>
    <nav>
        <article>
            <img class="cima" src="/img/jf.jpg" alt="">
            <h1><a href="/">JFlix</a></h1>
        </article>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/criar">Cadastro</a></li>
        </ul>
    </nav>
    <section class="main-container" >
        <% listafilme.forEach(item => { %>
            <a class="card" href="/details/<%= item.id %>">
                <img src=<%= item.imagem %> alt=""></a>
        <% }) %>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>