.menu { width:100%; }

 *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  } 
  
  body {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color:black;
  }

  nav {
    background-color: black;
    display: flex;
    align-content: center;
    position: relative;
    width: 100%;
    z-index: 10;
    top: 0;
    gap: 2rem;
    overflow: hidden;
    text-shadow: 0rem 0rem 1.8rem red;
  }
  .cima
  {
    width: 5rem;
    height: 6rem;
    padding-left: 0.5rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    padding: 2.5rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    transition: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  nav ul li a:hover {
    color: red;
  }
  
  nav article {
    display: flex;
    align-items: center;
    
  }
  
  nav article h1 a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.6rem;
      transition: 0.5s;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  nav article img {
    width: 2rem;
    height: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  header {
    padding-top: 1rem;
    padding-bottom: 10rem;
  }
  
  header h1 {
    color: black(255, 255, 255);
    font-size: 5rem;
    text-shadow: 0rem 0rem 1.5rem red;
    text-align: center;
  }
  
  .cad
  {
    width: 3rem;
    height: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  section#cadastrar {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10rem 0 10rem;
    border-radius: 5rem;
    background-color: black;
  }

  section#cadastrar h2 {
    color: rgb(255, 68, 68);
    text-align: center;
    padding-bottom: 3rem;
    font-size: 2.5rem;
    width: 100%;
  }

  section#cadastrar form {
    width: 100%;
    padding: 5rem;
  }

  section#cadastrar form div input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    margin-top: 0.1rem;
    margin-bottom: 2rem;
    outline: none;
    border: 0.1rem solid #ccc;
    background-color: whitesmoke;
  }

  section#cadastrar form div label {
    font-size: 1.5rem;
    color:red;
    font-style:italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
  }

  section#cadastrar form button {
    border: 1px solid red;
    background-color: black;
    color: red;
    padding: 1rem;
    font-size: 1.5vw;
    font-weight: 600;
    border-radius: 1rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.3s ease-out;
    width: 40%;
  }

  section#cadastrar form button:hover {
    background-color: red;
    color:white;
    transform: scale(1.1);
  }

  section#message {
    padding: 2rem;
    background-color:rgba(0, 0, 0, 0.288);
    color: white;
    position: fixed;
    top: 5rem;
    right: 2rem;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0.5rem;  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span#close {
    font-size: 2rem;
    cursor: pointer;
  }
  
  span#close:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.2);    
  }

  section#details {
    margin: 0 20rem 0 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 255, 82, 0.849);
    border-radius: 2rem;
    padding: 3rem;

  }
  
  section#details div#infos p {
    font-size: 2rem;
    padding-bottom: 3rem;
  }
  
  section#details div#infos div#info-datail {
    background-color: #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6rem;
    width: 60%;
    border-radius: 10rem;
    font-size: 2rem;
    gap: 70px;
  }
  
  section#details div#infos div#info-datail h3 {
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem 0 1rem 0;
    gap: 70px;
  }
  
  section#details div#infos h3 {
    padding-top: 3rem;
    font-size: 3rem;
  }
  
  section#details div#infos h2 {
    background-color: rgb(255, 47, 47);
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
    width: 50%;
    text-align: center;
    margin-top: 1rem;
  }

  .main-container {
    padding: 3rem;
  }
  
ul,li 
{
  list-style-type: none;
}

a.card {
  width: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flexbox;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s;
  color: #000;
  align-content: flex-start;
  font-size: 1.50rem;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  line-height: 7rem;
}

a.card
{
  transition: transform .3s; 
}

a.card:hover {
  transition: transform .3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);  
  transform: scale(1.2);
}

a.card img {
  max-width: 12rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;;  
}

.msg {
  margin: 30px auto; 
  padding: 10px; 
  border-radius: 5px; 
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  width: 50%;
  text-align: center;
}

.content
{
  justify-content: center;
  border-radius: 1rem;
  display: flexbox;
  cursor: pointer;
  transition: transform 0.5s;
  color:black;
  align-content: center; 
  background: white;
}
.informacoes {
  font-size: 25px;
}
.box 
{
  margin: 0 10rem 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  padding: 3rem;
  gap: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  font-style: italic;
  text-shadow: 0rem 0rem 2rem white;
}

.btn
{
  background: red;
  padding: 15%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
}

.btn2
{
  background: green;
  padding: 15%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
}